<mat-card>
  <mat-card-content>
    <div class="login-with-email-and-password-box">
      <h3>Registrieren mit E-Mail und Passwort</h3>
      <form [formGroup]="registerForm" (ngSubmit)="registerWithEmail()">
        <mat-form-field>
          <input matInput placeholder="E-Mail" formControlName="email" type="email">
        </mat-form-field>
        <br>
          <mat-form-field>
            <input matInput placeholder="Passwort (min. 6 Zeichen)" formControlName="password" type="password">
          </mat-form-field>
          @if (passwordFormField?.dirty) {
            <div class="text-red-400 text-sm">
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')}">Mindestens einen Großbuchstaben.</span>
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')}">Mindestens einen kleinen Buchstaben.</span>
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')}">Mindestens eine Ziffer.</span>
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">Mindestens ein Sonderzeichen.</span>
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('.{8,}')}">Mindestens 8 Zeichen lang.</span>
            </div>
          }
          <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid || isRegistering">Registrieren mit E-Mail
              und
              Passwort
            </button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
