<mat-card>
  <mat-card-content>
    <div class="login-with-email-and-password-box">
      <h3>Login mit E-Mail und Passwort</h3>
      <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
        <mat-form-field>
          <input matInput placeholder="E-Mail" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Passwort" formControlName="password" type="password" autocomplete="on">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login mit E-Mail und
          Passwort
        </button>
      </form>
    </div>
    <div class="forgot-password-box">
      <h4>Passwort vergessen</h4>
      <p>Gib' bitte zuerst deine E-Mail-Adresse oben ein.</p>
      <button [disabled]="!enableForgotPasswordButton" mat-raised-button color="primary" (click)="forgotPassword()">
        Passwort vergessen
      </button>
    </div>
  </mat-card-content>
</mat-card>
